@using LECHO.Infrastructure;
@using LECHO.Core;
@inject ISubjectManagement subjectManagement;
@inject IAccountManagement accountManagement;
@model IEnumerable<LECHO.Infrastructure.Subjects>
@{
    ViewData["Title"] = "FavouriteFirstTerm";
    if (User.IsInRole("1"))
    {
        Layout = "_LayoutAdmin";
    }
    else if (User.IsInRole("2"))
    {
        Layout = "_LayoutLecturer";
    }
    else if (User.IsInRole("3"))
    {
        Layout = "_LayoutStudent";
    }
}

@{
    if (@ViewData["Information"].ToString() == String.Empty)
    {
        <div class="row subject-menu">
            <ul class="redirectToTerms col-md-6">

                <li class="redirectToFirst"><a href="../Subjects/FavouriteFirstTerm" style="text-decoration: underline;">Півріччя 1</a></li>
                <li class="redirectToSecond"><a href="../Subjects/FavouriteSecondTerm">Півріччя 2</a></li>
            </ul>
            <form asp-controller="Subjects" asp-action="FavouriteFirstTerm" method="get" class="SearchBox col-md-6">
                <p>
                    <input type="text" name="Search" class="TextInput">
                    <input class="SearchButton" type="submit" value="Filter" />
                </p>
            </form>
        </div>
    }
    else
    {
        <p class="SubjectsPageViewForOlderStudents">@ViewData["Information"]</p>
    }
}
<div>
    @foreach (var subject in Model)
    {
        Faculties faculty = subjectManagement.GetFaculty(subject.FacultyId);
        Users lecturer = accountManagement.GetLecturer(subject.LecturerId);
        <div class="subjects row">
            <div class="col-md-1 all-subjects-fav-button">
                <label class="final-fav-checkmark">
                    <input type="radio" id="fav-id-@subject.SubjectId" name="fav-id" value="@subject.SubjectId">
                    <span></span>
                </label>
            </div>
            <div class="col-md-7 all-subjects-info">
                <h1><a asp-controller="Subjects" asp-action="SubjectInfo" asp-route-id="@subject.SubjectId">@subject.Name</a></h1>
                <p>Кількість студентів, які обрали дисципліну: @subject.NumberOfStudents</p>
            </div>
            <div class="col-md-4 all-subjects-lecture-info">
                <h1>@lecturer.LastName @lecturer.FirstName[0]. @lecturer.MiddleName[0].</h1>
                <h6>@faculty.Name</h6>
            </div>
        </div>
    }
    <p id="fav-undefined-warning" style="text-align:center; color:red; display:none;">Спершу оберіть предмет!</p>
    <button class="final-choice" onclick="make_final_choice()">Зробити остаточний вибір</button>
</div>


<script>
    function make_final_choice() {
        var subject_id = $("input[name=fav-id]:checked").val();
        if (subject_id) {
            $.ajax({
                url: "@Url.Action("MakeFinalSubjectChoice")",
                method: "POST",
                data: {
                    "SubjId": subject_id,
                },
                success: function () {
                    location.href = "/Account/Profile"
                },
                error: function () {
                    alert("Не припустима дія");
                }
            });
        } else {
            document.getElementById("fav-undefined-warning").style.display = "block";
        }
    }
</script>