@using LECHO.Infrastructure;
@using LECHO.Core;
@model IEnumerable<LECHO.Infrastructure.Subjects>
@{
    ViewData["Title"] = "Subjects";
    if (User.IsInRole("1"))
    {
        Layout = "_LayoutAdmin";
    }
    else if (User.IsInRole("2"))
    {
        Layout = "_LayoutLecturer";
    }
    else if (User.IsInRole("3"))
    {
        Layout = "_LayoutStudent";
    }
}

@{
    if(@ViewData["Information"] == "")
    {
        <ul class="redirectToTerms">
            <li class="redirectToFirst"><a href="../Subjects/SubjectsFirstTerm">Півріччя 1</a></li>
            <li class="redirectToSecond"><a href="../Subjects/SubjectsSecondTerm">Півріччя 2</a></li>
        </ul>
    }
    else
    {   
        <p class="older-students">@ViewData["Information"]</p>
    }
}

@foreach  (var subject in Model)
{
    Faculties faculty = SubjectManagement.GetFaculty(subject.FacultyId);
    Users lecturer = AccountManagement.GetLecturer(subject.LecturerId);
<div class="subjects">
    <input type="checkbox">
    <h1><a href="../Subjects/Subjects">@subject.Name</a></h1>
    <p>Кількість студентів, які обрали дисципліну: @subject.NumberOfStudents</p>
    <h3>@lecturer.LastName @lecturer.FirstName @lecturer.MiddleName</h3>
    <h4>@faculty.Name</h4>
    <div class="information">
        <p></p>
    </div>
</div>
}
